*{
margin:0;
padding:2px;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{
background:#919398;
color:#222;
line-height:1.6;
}

/* ---------- GRID SYSTEM ---------- */

.container{
max-width:1270px;
margin:auto;
padding:0 20px;
}

.grid{
display:grid;
grid-template-columns:repeat(12,1fr);
gap:24px;
}

/* ---------- NAVBAR ---------- */

.navbar{
background:rgb(11, 136, 186);
padding:20px 0;
box-shadow:0 2px 6px rgba(0,0,0,0.05);
}

.nav-content{
display:flex;
justify-content:space-between;
align-items:center;
}

.logo{
font-size:22px;
font-weight:bold;
color:#111111;
}

.nav-links a{
margin-left:25px;
text-decoration: none;
color:#333;
font-weight:700;
}

.btn{
background:#0b88ba;
color:white;
padding:12px 20px;
border-radius:6px;
text-decoration:none;
font-weight: bold;
transition: 0.3s;
}
.btn:hover{
    background:#096a92;
}

/* ---------- HERO ---------- */

.hero{
padding:80px 0;
}

.hero-text{
grid-column:span 8;
}

.hero-image{
grid-column:span 4;
background:#dfe7ff;
height:250px;
border-radius:8px;
}

.hero h1{
font-size:40px;
margin-bottom:20px;
color:#3f4757
}

.hero p{
margin-bottom:25px;
color:#111111;
}

/* ---------- FEATURES ---------- */

.section{
padding:70px 0;
}

.section h2{
text-align:center;
margin-bottom:40px;
}

.card{
background: white;
padding:25px;
border-radius:8px;
box-shadow:0 2px 10px rgba(0,0,0,0.05);
}

.feature{
grid-column:span 3;
text-align:center;
}

/* ---------- FORM ---------- */

.form{
grid-column:span 6;
margin:auto;
}

input, select{
width:100%;
padding:12px;
margin-bottom:15px;
border:1px solid #ccc;
border-radius:6px;
}

/* ---------- FOOTER ---------- */

footer{
background:#1b3c73;
color:white;
padding:30px 0;
text-align:center;
margin-top:60px;
}

/* ---------- RESPONSIVE ---------- */

@media (min-width: 20rem) { /* at 320px, the column should be two */

.grid.two-column {
    grid-template-columns: 1fr 1fr;
}
}

@media (min-width: 64rem) {/* at 1024px, web should run in three columns */

.grid.three-column {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-auto-flow: row;
}
}

@media (min-width: 120rem) {/* at 1920px, web should run in four columns */

.grid.four-column {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    }
} 